@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

/* TRANSITION */

a, 
.btn{
    transition: all 300ms ease;
}

/*Navigation section*/

nav, .nav__links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav__links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* Dropdown menu */

#dropdown__nav {
    display: none;
}

.dropdown__menu {
    position: relative;
    display: inline-block;
}

.dropdown__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.dropdown__icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu__links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu__links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu__links li {
    list-style: none;
}

.menu__links.open {
    max-height: 300px;
}

.dropdown__icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.dropdown__icon.open span:nth-child(2) {
    opacity: 0;
}
.dropdown__icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.dropdown__icon span:first-child {
    transform: none;
}
.dropdown__icon span:first-child {
    opacity: 1;
}
.dropdown__icon span:first-child {
    transform: none;
}


/* Sections */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section__container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.pic__container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text__p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}
  
#socials__container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */

.icon {
    cursor: pointer;
    height: 2.5rem;
}

.icon1 {
    cursor: pointer;
    height: 2rem;
}

  
  /* Buttons */
  
  .btn__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 6rem;
  }
  
  .btn__color__1,
  .btn__color__2 {
    border: rgb(53, 53, 53) 0.1rem solid;
  }
  
  .btn__color__1:hover,
  .btn__color__2:hover {
    cursor: pointer;
  }
  
  .btn__color__1,
  .btn__color__2:hover {
    background: rgb(53, 53, 53);
    color: white;
  }
  
  .btn__color__1:hover {
    background: rgb(0, 0, 0);
  }
  
  .btn__color__2 {
    background: none;
  }
  
  .btn__color__2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
  }
  
  .btn__container {
    gap: 1rem;
  }

/* About Me */

.date__colour {
    color: rgb(187, 136, 34);
}

#about {
    position: relative;
}

.about__container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about__details__container {
    justify-content: center;
    flex-direction: column;
}
  
.about__container,
.about__details__container {
    display: flex;
}

.details__container {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.details__text__container {
    padding: 1.5rem;
    flex: 1;
    text-align: center;
    
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.section__container {
    gap: 2rem;
    height: 70%;
}

.text__container {
    text-align: center;
}

/* Exprience */

#experience {
    position: relative;
}
  
.experience__sub__title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience__sub__title1 {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
  
.experience__details__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


  
.article__container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-around;
}

.article__container1 {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;

}

article {
    display: flex;
    align-items: center; /* Center items vertically */
    text-align: center;
    width: 10rem;
    gap: 0.5rem;
}

article .text {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

article h3 {
    white-space: nowrap;
}
article .icon {
    cursor: default;
    height: 2.5rem;
}

/* Project */
#projects {
    position: relative;
  }
  
  .color__container {
    border-color: rgb(163, 163, 163);

  }
  
  .project__img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
  }
  
  .project__title {
    margin: 1rem;
    color: black;
  }
  
  .project__btn {
    color: black;
    border-color: rgb(163, 163, 163);
  }